
# Logs
logs
*.log
*.zip
jest_0

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

functions

.DS_Store
.editorconfig
.vscode
.eslintcache
.env

# rest call for local testing 
request.rest